@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;


}

body {
    background-color: #01395E;
}

/* navigation bar */
#nav-bar {
    padding: 3rem;
    background-color: #01395E;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4rem;
}

.nav-elements {
    text-decoration: none;
}



#nav-logo {
    width: 100px;
    border-radius: 50%;
}

#nav-title {
    font-size: 2rem;
    color: white;
}



/* main section */
.main-container {
  width: 800px;
    padding-left: 3rem;
    float: left;
    
    
}

h1 {
    font-size: 6rem;
    color: #A8F2FE;
}

#main-quote {
    font-size: 2.8rem;
    font-weight: 200;
    font-style: italic;
    color: white;
}

#main-desc {
    font-size: 2.5rem;
    color: white;
}


.form-container {
  float:inline-start;  
    
}
.containerAdmin {
    width: 500px;
    height: 400px;
    background: #F8F9FD;
    border-radius: 30px;
    padding: 25px 35px;
    
    margin: 20px;
  }
  
  .heading {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color:#01395E;
    
  }
  
  .form-login {
    position: sticky;
    margin-top: 20px;
  }
  
  .form-login .input {
    width: 100%;
    background: white;
    border: none;
    padding: 15px 1px;
    border-radius: 55px;
    margin-top: 15px;
    box-shadow: #cff0ff 0px 10px 10px -5px;
    border-inline: 20px solid transparent;
    
  }
  
  .form-login .input::-moz-placeholder {
    color: black;
  }
  
  .form-login .input::placeholder {
    color: black;
  }

  .forgot-password {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .forgot-password a {
    font-size: 11px;
    color: #0099ff;
    text-decoration: none;
  }
  
  .form-login .login-button{
    display: block;
    width: 100%;
    font-weight: bold;
    background: linear-gradient(
      45deg,
      rgb(16, 137, 211) 0%,
      rgb(18, 177, 209) 100%
    );
    color: white;
    padding-block: 15px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
    border: none;
    transition: all 0.2s ease-in-out;
  }
  
  .form-login .login-button:hover {
    transform: scale(1.03);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
  }
  
  .form-login .login-button:active {
    transform: scale(0.95);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
  }
  
  
  
