@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;

    color: white;
}

body {
    background-color: #01395E;
}

/* navigation bar */
#nav-bar {
    padding: 3rem;
    background-color: #01395E;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4rem;
}

.nav-elements {
    text-decoration: none;
}

#nav-right {
    margin-left: auto;

    display: flex;
    gap: 2rem;
}

#nav-logo {
    width: 100px;
    border-radius: 50%;
}

#nav-title {
    font-size: 2rem;
}

.nav-text {
    font-size: 1.5rem;
    padding: 1rem;
}

.nav-text::after {
    content: "";
    height: 3px;
    width: 0%;
    background-color: #A8F2FE;
    display: block;
    transition: .2s ease-in-out;
}

.nav-text:hover::after {
    content: "";
    height: 3px;
    width: 100%;
    background-color: #A8F2FE;
    display: block;
}

#sign-in-btn{
    width: 10rem;
    background-color: #A8F2FE;
    color: black;
    font-size: 1.3rem;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    padding: 18px;
}

#sign-in-btn:hover {
    background-color: white;
    cursor: pointer;
}

/* main section */
#main-section {
    padding-left: 3rem;
}

h1 {
    font-size: 6rem;
    color: #A8F2FE;
}

#main-quote {
    font-size: 2.8rem;
    font-weight: 200;
    font-style: italic;
}

#main-desc {
    font-size: 2.5rem;
}

#inquire-btn {
    width: 14rem;
    background-color: #A8F2FE;
    color: black;
    font-size: 1.3rem;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    padding: 18px;
    margin-top: 18px;
}

#inquire-btn:hover {
    background-color: white;
    cursor: pointer;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

  /* Modal Content/Box */
.modal-content {
    background-color: black;
    margin: 15% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

  /* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

  /* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

form {
    border: 3px solid #f1f1f1;
}
  
  /* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: black;
}

#id01 button {
    background-color: #01395E;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
  
  /* Add a hover effect for buttons */
#id01 button:hover {
    opacity: 0.8;
}
  
  /* Add padding to containers */
.container {
    padding: 16px;
}
  
  /* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}