@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;

    background-color: #01395E;
    color: white;
}

/* navigation bar */
#nav-bar {
    padding: 36px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4rem;
}

.nav-elements {
    text-decoration: none;
}

#nav-right {
    margin-left: auto;

    display: flex;
    gap: 16px;
}

#nav-logo {
    display: block;
    max-width: 80px;
    height: auto;
    border-radius: 50%;
}

#nav-title {
    font-size: 28px;
}

.nav-text {
    font-size: 22px;
    padding: 4px;
    border-bottom: 3px solid #01395E;
}

.nav-text:hover {
    border-bottom: 3px solid #A8F2FE;
}

.nav-home {
    border-bottom: 3px solid #A8F2FE;
}

/* main section */
#main-section {
    padding-left: 36px;
}

h1 {
    font-size: 64px;
    color: #A8F2FE;
}

#main-quote {
    font-size: 28px;
    font-weight: 200;
    font-style: italic;
}

#main-desc {
    font-size: 32px;
}

#inquire-button {
    width: 200px;
    background-color: #A8F2FE;
    color: black;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    padding: 18px;
    margin-top: 18px;
}

#inquire-button:hover {
    background-color: white;
    cursor: pointer;
}