@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;

    color: white;
}

body {
    background-color: #01395E;
}

/* navigation bar */
#nav-bar {
    padding: 3rem;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4rem;
}

.nav-elements {
    text-decoration: none;
}

#nav-right {
    margin-left: auto;

    display: flex;
    gap: 2rem;
}

#nav-logo {
    width: 100px;
    border-radius: 50%;
}

#nav-title {
    font-size: 2rem;
}

.nav-text {
    font-size: 1.5rem;
    padding: 1rem;
}

.nav-text::after {
    content: "";
    height: 3px;
    width: 0%;
    background-color: #A8F2FE;
    display: block;
    transition: .2s ease-in-out;
}

.nav-text:hover::after {
    content: "";
    height: 3px;
    width: 100%;
    background-color: #A8F2FE;
    display: block;
}

#sign-in-btn{
    width: 10rem;
    background-color: #A8F2FE;
    color: black;
    font-size: 1.3rem;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    padding: 18px;
}

#sign-in-btn:hover {
    background-color: white;
    cursor: pointer;
}

/* main section */
main {
    padding: 3rem;
    display: flex;
    flex: content;
    align-content: center;
}
main.p {
    color: white;
}

h1 {
    font-size: 4rem;
    color: #A8F2FE;
}

#main {
    width: 800px;
    font-size: 1.5rem;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;
    
    
}


/* Containers */

.services {
    background-color: #A8F2FE;
    width: 150px;
    flex-direction: column;
    display: flex;
    flex: content;
    flex-wrap: nowrap;
    align-content: center;

}

/* Cleaning */

#Cleaning {
    width: 20rem;
    margin-left: 80px;
    margin-right: 20px;
    background-color: #6CD1E1;
    color: #01395E;
    font-size: 1.3rem;
    font-weight: 600;
    border: none;
    border-radius: 40px;
    padding: 18px;
}

#Cleaning:hover {
    background-color: white;
    cursor: pointer;
}

/* Repair */

#Repair {
    width: 20rem;
    margin-right: 20px;
    background-color: #6CD1E1;
    color: #01395E;
    font-size: 1.3rem;
    font-weight: 600;
    border: none;
    border-radius: 40px;
    padding: 18px;
}

#Repair:hover {
    background-color: white;
    cursor: pointer;
}

/* Installation */

#Installation {
    width: 20rem;
    background-color: #6CD1E1;
    color: #01395E;
    font-size: 1.3rem;
    font-weight: 600;
    border: none;
    border-radius: 40px;
    padding: 18px;
}

#Installation:hover {
    background-color: white;
    cursor: pointer;
}

/* Maintenance */

#Maintenance {
    width: 20rem;
    margin-left: 20px;
    margin-right: 80px;
    background-color: #6CD1E1;
    color: #01395E;
    font-size: 1.3rem;
    font-weight: 600;
    border: none;
    border-radius: 40px;
    padding: 18px;
}

#Maintenance:hover {
    background-color: white;
    cursor: pointer;
}

services.p {
    color: black;
}